#at-plus-container {
  position: fixed;
  width: 40%;
  height: 100%;
  left: 30%;
}
#at-plus-container #bottom-positioner {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 10%;
}
#at-plus-container #bottom-positioner #button {
  position: absolute;
  left: 30%;
  bottom: 50%;
  width: 100%;
}
#at-plus-container #bottom-positioner #button #click-message {
  transition: all 0.2s;
  transition-delay: 0.5s;
  position: absolute;
  left: 70px;
  top: -30px;
  text-align: center;
  color: #236586;
  font-size: 1.5em;
  border: #bfe8f0 1px solid;
  border-radius: 10px;
  background-color: #d9edf6;
  width: 0px;
  height: 0px;
}
#at-plus-container #bottom-positioner #button #info-bar {
  transition: all 0.2s;
  transition-delay: 0.5s;
  position: absolute;
  left: 70px;
  top: -30px;
  margin-bottom: 10px;
}
#at-plus-container #bottom-positioner #button #info-bar > div:first-child {
  transition: all 0.2s;
  transition-delay: 0.5s;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7e7e7e;
  cursor: pointer;
}
#at-plus-container #bottom-positioner #button #info-bar > div:first-child .info-text {
  position: relative;
  top: 40px;
  font-family: "san-serif";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #079E6E;
}
#at-plus-container #bottom-positioner #button #control-ring-container {
  position: absolute;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring li {
  list-style-type: none;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .disabled {
  background-color: #7e7e7e;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .activated {
  background-color: #1e4696;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .wating {
  background-color: #1e4696;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .button {
  transition: all 0.2s;
  transition-delay: 0.5s;
  position: absolute;
  left: 70px;
  top: -30px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
  cursor: pointer;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .button > div:first-child {
  color: #079E6E;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 26px;
  top: 4px;
}
#at-plus-container #bottom-positioner #button #control-ring-container #control-ring .unread {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50%;
  background-color: #fa3c3c;
}
#at-plus-container #bottom-positioner #button .apb {
  position: absolute;
  left: 60px;
  top: -50px;
}
#at-plus-container #bottom-positioner #button .apb .icon {
  transition: all 0.2s;
  transition-delay: 0.8s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #969bd2;
  background-image: url('../images/atplus_white.png');
  background-size: 70% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#at-plus-container #bottom-positioner #button:hover #click-message {
  transition: all 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  left: 40px;
  top: -260px;
  width: 100px;
  height: 1.3em;
}
#at-plus-container #bottom-positioner #button:hover #info-bar {
  transition: all 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  left: 10px;
  top: -220px;
  margin-bottom: 10px;
}
#at-plus-container #bottom-positioner #button:hover #info-bar > div {
  border-radius: 50%;
  transition: all 0.2s;
  transition-delay: 0.2s;
  width: 150px;
  height: 150px;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container {
  position: absolute;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .button {
  transition: all 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  width: 37px;
  height: 37px;
  opacity: 1;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .mask {
  top: -80px;
  left: -5px;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .history {
  top: -33px;
  left: -17px;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .message {
  top: 14px;
  left: 0px;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .setting {
  top: 40px;
  left: 40px;
}
#at-plus-container #bottom-positioner #button:hover #control-ring-container #control-ring .sign {
  top: 35px;
  left: 95px;
}
#at-plus-container #bottom-positioner #button:hover .apb {
  position: absolute;
  left: 60px;
  top: -50px;
}
#at-plus-container #bottom-positioner #button:hover .apb .icon {
  transition: all 0.2s;
  transition-delay: 0.2s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1e4696;
  background-image: url('../images/atplus_green.png');
  background-size: 70% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
